.row{
    height: 20px;
    margin: auto;
    

}

[class*="col"] {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    
    
  
}

.row>div>div{
    border: 1px black solid;
}

.black{
    background-color: black;
}

.green{
    background-color: rgb(23, 110, 5);
}

.greenl{
    background-color: yellowgreen;
}

.violet{
    background-color: rgb(141, 10, 141);
}